[Unit]
Description=Collect about BlueField's sensors and FRUs once

[Service]
Type=oneshot
EnvironmentFile=/etc/ipmi/progconf
ExecStart=/bin/bash -c '/usr/bin/oneshot_emu_param.sh ${BF_FAMILY} ${SUPPORT_IPMB} ${OOB_IP} ${BF_PLAT}'

[Install]
WantedBy=multi-user.target
